---
layout: page
description: "A personal engineering blog"
---

<div class="blog-header">
    <a class="avatar" title="Who is Ando?" href="{{ site.url }}/about"></a>
    <h1>Ando Roots</h1>
    <p>Security Engineer at Bigbank, hardware hacker, DevOps engineer, soldier, improviser</p>
    {% include social.html %}
</div>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Written on {{ post.date | date: "%B %-d, %Y" }}. Takes {{ post.content | reading_time }} to read.</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<div class="row">
    <div class="col offset-4">
<nav>
<ul class="pagination">
    {% if paginator.previous_page %}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
</nav>
    </div></div>
{% endif %}


