---
layout: wide-page
title: Projects
description: "Here are the projects I've done of my own free will and am most proud of."
---

<div class="row row-projects">
  <div class="col-sm-12">
<div class="card-deck card-projects">
  
  {% for project in site.data.projects %}
  <div class="card">
    {% if project.image %}
      <a href="{{ project.website }}" target="_blank">
      {% asset "site/projects/{{ project.image }}" @pic alt="{{ project.name }}" class="card-img-top" %}
      </a>
    {% else %}
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="{{ project.video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ project.name }}</h5>
      <p class="card-text">{{ project.description }}</p>
      <p class="card-text">
      <ul class="list-inline text-center">
        {% if project.website %}
        <li class="list-inline-item">
          <a href="{{ project.website }}" title="Project website" target="_blank">
            <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fa fa-link fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if project.github %}
        <li class="list-inline-item">
          <a href="{{ project.github }}" target="_blank" title="Project source code">
            <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
      </p>
    </div>
  </div>
  {% capture mod %}{{forloop.index | modulo:2 }}{% endcapture %}
  {% if mod == "0" %}
    </div>
    </div>
    </div>
<div class="row row-projects">
  <div class="col-sm-12">
    <div class="card-deck">
  {% endif %}

  {% endfor %}
  </div>
</div>
</div>

More projects: Check out my GitHub profile - almost everything I do is
<a href="https://github.com/anroots" target="_blank">open-sourced in GitHub</a>.
