<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% include social.html %}
                <p class="copyright text-muted"><a href="https://sqroot.eu/about" title="About me">Ando Roots</a> {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>

<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Ando Roots",
  "url" : "http://sqroot.eu",
  "sameAs" : [ "https://twitter.com/sqrooted",
      "https://www.linkedin.com/in/anroots",
      "https://soundcloud.com/ando-david"] 
}
</script>

{% asset main.js %}
