<head>

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="all" />
    <meta name="flattr:id" content="xvdqj0" />
    <meta name="keywords" content="Ando Roots, SQrooted, Ando David Roots, anroots" />

    <!-- Opengraph tags for Facebook -->
    <meta property="og:title" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:image" content="{{ site.url }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" />
    <meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}" />
    {% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html | xml_escape }}" />{% endif %}
    {% if page.category %}<meta property="og:article:section" content="{{ page.category }}"/>{% endif %}
    {% if page.tags %}{% for tag in page.tags %}<meta propery name="og:article:tag" content="{{ tag }}" />{% endfor %}{% endif %}
    <meta property="article:author" content="https://www.facebook.com/SQrooted" />
    <meta property="fb:admins" content="100000344271183" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@SQrooted" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | xml_escape }}{% else %}{{site.description}}{% endif %}" />
    {% if page.header-img %}<meta name="twitter:image" content="{{site.url}}/{{ page.header-img }}" />{% endif %}

    <!-- Favicon config -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/content/site/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/content/site/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/content/site/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/content/site/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/content/site/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/content/site/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/content/site/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/content/site/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/content/site/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ site.url }}/content/site/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.url }}/content/site/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.url }}/content/site/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.url }}/content/site/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.url }}/manifest.json">
    <link rel="shortcut icon" href="{{ site.url }}/content/site/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{ site.url }}/content/site/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="{{ site.url }}/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <link type="text/plain" rel="author" href="{{ site.url }}/humans.txt" />
 
    <!-- Twitter bootstrap + blog stylesheet -->
    {% asset style.css %}
    
    <!-- Loadcss script for async CSS loading -->
    <script id="script-loadcss" type="text/javascript">{% asset loadcss/src/loadCSS.js %}</script>

    <script>
        loadCSS("{% asset optional.css @path %}", document.getElementById("script-loadcss"));
        loadCSS("https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", document.getElementById("script-loadcss"));
    </script>

    <!-- Polyfill for the <picture> tag -->
    <script>
    // Picture element HTML5 shiv
    document.createElement( "picture" );
    </script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
