---
layout: default
---

<!-- Page Header -->
<header class="intro-header">
                <canvas id="matrix-header" class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </canvas>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">

      <div class="blog-header">
        <a class="avatar" title="Who is Ando?" href="{{ site.url }}/about"></a>
        <h1>Ando Roots</h1>
        <p>Security Engineer, Maker, Soldier, Improviser</p>
        {% include social.html %}
      </div>

			{{ content }}
		</div>
	</div>
</div>

<hr>
