---
layout: default
---

<!-- Page Header -->
<header class="intro-header">
                <canvas id="matrix-header" class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </canvas>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">

      <div class="blog-header">
        <a class="avatar" title="Who is Ando?" href="{{ site.url }}/about"></a>
        <h1>Ando Roots</h1>
        <p>
          Security Engineer, Maker, Soldier, Improviser
          (<a href="https://estonia.ee/" target="_blank" title="Estonian">
          <img class="flag"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='flag-icon-css-ee' viewBox='0 0 640 480'%3E%3Cg fill-rule='evenodd' stroke-width='1pt'%3E%3Crect width='640' height='477.9' rx='0' ry='0'/%3E%3Crect width='640' height='159.3' y='320.7' fill='%23fff' rx='0' ry='0'/%3E%3Cpath fill='%231291ff' d='M0 0h640v159.3H0z'/%3E%3C/g%3E%3C/svg%3E%0A" alt="Estonian flag"
        />
        </a>)
        </p>
        {% include social.html %}
      </div>

      <h1>{{ page.title }}</h1>

			{{ content }}
		</div>
	</div>
</div>

<hr>
